@page
@model SushiRestaurant6.Pages.Categories.DisplayModel
@{
}
<h1>Available Menu</h1>




	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Category Name
				</th>
				<th>
					Display Order
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.Categories)
			{
				<tr>
					<td width="50%">@obj.Name</td>
					<td width="30%">@obj.DisplayOrder</td>
					
				</tr>
			}

		</tbody>
	</table>

</div>