
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 50%;
}

body {
  margin-bottom: 100px;
}


.container {
    max-width: 1200px;
    width: 95%;
    margin-top: 2rem;
}

.slider-wrapper {
    position: relative;
}

    .slider-wrapper .slide-button {
        position: absolute;
        top: 50%;
        outline: none;
        border: none;
        height: 50px;
        width: 50px;
        z-index: 5;
        color: #fff;
        display: flex;
        cursor: pointer;
        font-size: 2.2rem;
        background: #000;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transform: translateY(-50%);
        color: var(--white);
        background-color: var(--blue-grey);
    }

        .slider-wrapper .slide-button:hover {
            color: var(--teal);
            border-color: var(--teal);
        }

        .slider-wrapper .slide-button#prev-slide {
            left: -25px;
            display: none;
            color: var(--teal);
        }

        .slider-wrapper .slide-button#next-slide {
            right: -25px;
            color: var(--teal);
        }

    .slider-wrapper .image-list {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 18px;
        font-size: 0;
        list-style: none;
        margin-bottom: 30px;
        overflow-x: auto;
        scrollbar-width: none;
    }

        .slider-wrapper .image-list::-webkit-scrollbar {
            display: none;
        }

        .slider-wrapper .image-list .image-item {
            width: 325px;
            height: 400px;
            object-fit: cover;
        }

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: var(--teal);
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

    .slider-scrollbar .scrollbar-thumb:active {
        cursor: grabbing;
        height: 8px;
        top: -2px;
    }

    .slider-scrollbar .scrollbar-thumb::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        bottom: -10px;
    }

@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

        .slider-wrapper .image-list .image-item {
            width: 280px;
            height: 380px;
        }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}




.container1 h2, .container1 p {
    margin: 0 0 10px;
}


.column1 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}



.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 20px;
    text-align: center;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: wheat;
    color: black;
}

.container1 {
    padding: 0 16px;
}

    .container1::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: orangered;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .button:hover {
        background-color: wheat;
    }

    .row1{
        display: flex;
        flex-wrap`: wrap; 
    }

        .row1:after {
            content: "";
            display: table;
            clear: both;
        }

@media screen and (max-width: 650px) {
    .column1 {
        width: 100%;
        display: block;
        flex: 1; 
        padding: 10px; 

    }
}


.column2 {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}





