@page
@model SushiRestaurant6.Pages.Aboutus1Model
@{

}

    <link rel="stylesheet" href="~/css/Aboutus1.css" asp-append-version="true" />


<div class="header">
  <h1>LCB4215 SUSHI RESTAURANT</h1>
  <p>Our Mission</p>
  <p>We aim to set the standards of excellence in Japanese cuisine & service, 
      by offering an extensive menu selection at affordable prices & convenient locations. </p>
</div>

<h1><b>Opening Hours</b></h1>

<div class="w3-row">
<div class="w3-half">
<p>Mon &amp; Tue CLOSED</p>
<p>Wednesday 10.00 - 24.00</p>
<p>Thursday 10:00 - 24:00</p>
</div>
<div class="w3-half">
<p>Friday 10:00 - 12:00</p>
<p>Saturday 10:00 - 23:00</p>
<p>Sunday Closed</p>
</div>
</div>

</div>