@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="about-section">
  <h1>Welcome to LCB4215 Sushi Restaurant!</h1>
    <p>To prioritize quality and freshness of our ingredients, and serve only the best.
        We aim to set the standards of excellence in Japanese cuisine & service, by offering an extensive menu selection at affordable prices & convenient locations.
</p>
</div>

<!--carousel-->

<div class="container">
    <div class="slider-wrapper">
        <button id="prev-slide" class="slide-button material-symbols-rounded">
            chevron_left
        </button>
        <ul class="image-list">
            <img src="~/css/Images/c1.png" class="image-item" alt="c1" />
            <img src="~/css/Images/c2.png" class="image-item" alt="c2" />
            <img src="~/css/Images/c3.png" class="image-item" alt="c3" />
            <img src="~/css/Images/c4.png" class="image-item" alt="c4" />
            <img src="~/css/Images/c5.png" class="image-item" alt="c5" />
            <img src="~/css/Images/c6.png" class="image-item" alt="c6" />

        </ul>
        <button id="next-slide" class="slide-button material-symbols-rounded">
        
        </button>
    </div>
    <div class="slider-scrollbar">
        <div class="scrollbar-track">
            <div class="scrollbar-thumb"></div>
        </div>
    </div>
</div>

<!--carousel end-->

<!--About us section-->

<div class="about-section">
  <h1>About Us</h1>
    <p>we opened the doors of our first restaurant in Brunei Darussalam. Over the years, we have been fortunate to grow alongside the Bruneian and Miri community and expanded to 11 branches across the region. We serve an extensive variety of Japanese food & beverages that includes fresh sashimi, sushi, donburi, noodles, bento boxes and so on. 
        We prioritize affordability, quality and freshness with our ingredients, and only serve value-for-money products 
        which are primarily air-flown from Japan and Norway.</p>
    <p>In future, we hope to deliver only the best food and service to our customers, as well as educate and raise awareness of the unique Japanese culture, within our community and internationally.</p>
</div>

<br> 

<h2 style="text-align:center">Our Team</h2>

<div class="row1">

  <div class="column1">
    <div class="card1">
      <img src="~/css/Images/SushiChef2.jpg" alt="Jane" style="width:80%">
      <div class="container1">
        <h2>Shunsuke Yoshizawa</h2>
        <p class="title">Head Chef</p>
        <p>The brand and area where the fishes are caught may be crucial to create delicious sushi, 
            but we try and work to accentuate the flavours and unique characteristics of every ingredient without putting too much thought into it. </p>
        
      
      </div>
    </div>
  </div>
 
  <div class="column1">
    <div class="card1">
           <img src= "~/css/images/sushichef1.jpg" alt="Mike" style="width:80%">
      <div class="container1">
        <h2>Yoshio Sakuta</h2>
        <p class="title">Chef</p>
        <p>Every step of the preparation process is calculated to ensure that our guests taste the ingredients at their best. 
            The flavour differs greatly day-to-day even if the fishes are of the same species caught in the same area.</p>
      </div>
    </div>
  </div>

    <div class="column1">
    <div class="card1">
           <img src= "~/css/images/sushichef3.jpg" alt="Tomoya Mori" style="width:80%">
      <div class="container1">
        <h2>Tomoya Mori</h2>
        <p class="title">Director</p>
        <p>He has spent over 15 years working at some of the top fine 
            dining restaurants in Japan as well as Southeast Asia.</p>
        <p>TomoyaMori@lcb4215.com</p>
      </div>
    </div>
  </div>

</div> 


<!--About us section ends-->

        <!--Testing section-->
        <div class="row2">
  <div class="column2">
  </div>
  <div class="column2"></div>
  <div class="column2"></div>
</div>
        <!--Testing DONE section-->


        <!--Current Popular Item-->

        
<div class="about-section">
  <h1>Menu</h1>
    <p>Chef-Owner Sakuta places customers satisfaction and gustatory pleasure foremost in his restaurant. While still working at the highest level of his craft, Chef Sakuta holds himself to delivering experiences that are inclusive and that will connect with connoisseurs and ingenues alike..</p>
    <p>An experience is meticulously curated for each guest to ensure a deep impression left for a long time to come.</p>
</div>

<br> 

<div class="row1">

  <div class="column1">
    <div class="card1">
      <img src="~/css/Images/c1.png" alt="Jane" style="width:80%">
      <div class="container1">
        <h2>Unagi (Eel) Nigiri</h2>
        <p class="title">sushi</p>
        <p> Rich, flavorful unagi nigiri grilled </p>
                        <p><a href="/Checkout" button class="button">Add to Cart</button> </a> </p>

      
      </div>
    </div>
  </div>
 
  <div class="column1">
    <div class="card1">
           <img src= "~/css/Images/c2.png" alt="Mike" style="width:80%">
      <div class="container1">
        <h2>Nigiri Sushi</h2>
        <p class="title">sushi</p>
                <p> Fresh and vibrant salmon nigiri classic</p>
                        <p><a href="/Checkout" button class="button">Add to Cart</button> </a> </p>

        </div> 
    </div>
  </div>

    <div class="column1">
    <div class="card1">
           <img src= "~/css/Images/c3.png" alt="Tomoya Mori" style="width:80%">
      <div class="container1">
        <h2>Ikura (Salmon Roe)</h2>
        <p class="title">sushi</p>
                <p>Briny bursts of flavor with ikura nigiri.</p>
                        <p><a href="/Checkout" button class="button">Add to Cart</button> </a> </p>

      </div>
    </div>
  </div>


</div> 
<br> 


<div class="row1">

  <div class="column1">
    <div class="card1">
      <img src="~/css/Images/c4.png" alt="Jane" style="width:80%">
      <div class="container1">
        <h2>Dragon Roll</h2>
        <p class="title">sushi</p>
        <p> Bold and beautiful dragon roll, a sushi lover's dream. </p>
                        <p><a href="/Checkout" button class="button">Add to Cart</button> </a> </p>

      
      </div>
    </div>
  </div>
 
  <div class="column1">
    <div class="card1">
           <img src= "~/css/Images/c5.png" alt="Mike" style="width:80%">
      <div class="container1">
        <h2>Temaki (Hand Roll)</h2>
        <p class="title">sushi</p>
                <p> Handcrafted temaki roll, sushi in the palm of your hand.</p>
                        <p><a href="/Checkout" button class="button">Add to Cart</button> </a> </p>

        </div> 
    </div>
  </div>

    <div class="column1">
    <div class="card1">
           <img src= "~/css/Images/c6.png" alt="Tomoya Mori" style="width:80%">
      <div class="container1">
        <h2>Chirashi Bowl</h2>
        <p class="title">sushi</p>
                <p>A vibrant chirashi bowl, a medley of fresh sashimi over rice.</p>
                        <p><a href="/Checkout" button class="button">Add to Cart</button> </a> </p>

      </div>
    </div>
  </div>

</div> 


        <!--done-->

        <!--FOOTER-->




  <!--footer done-->