@page
@model SushiRestaurant6.Pages.UserModel
@{
}

<h2 class="text-center"> Welcome to your account! </h2>

<div> 
    First Name : @Model.appUser?.FirstName
</div>
<div> 
    Last Name: @Model.appUser?.LastName
</div>